@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

html {
  overflow: hidden;
  text-align: center;
}

body, #root {
  position: fixed;
  width: 100%;
  height: 100%;
}

.flexbox-wrapper {
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.flexbox-row {
  width: 100%;
}

.flexbox-row-fixed {
  flex-shrink: 0;
}

.flexbox-row-fill {
  border: 1px solid black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-family: "Lobster Two", cursive;
  font-weight: 200;
}
